*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;

}
body{
	margin: 0;
	padding: 0;
	background-image: url(img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}
.menu{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
	color: white;
}
/*.leftmenu{
	width: 25%;
	line-height: 100px;
	float: left;
}
.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	font-size: 22px;
	font-family: sans-serif;
	/*color: black;
}*/
.logo {
    float: left;
    line-height: 100px;
	width: 20%;
	/*background-color:  red;*/
	position: absolute;
	left: calc(50%-50px);
	padding-left: 20px;
}
/*.rightmenu{
	width: 75%;
	line-height: 100px;
	float: right;
}
.rightmenu nav a{
	font-family: sans-serif;
	display: inline-block;
	font-size: 15px;
	/*color: black;
	font-weight: bold;
	margin-left: 40px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}
.rightmenu nav{
	top: 100%;
	left: 100%;
	margin-left: 500px;
	color: white;
}*/
/*.rightmenu nav a:hover{
	color: white;
}*/
.text{
	top: 50%;
	left: 50%;
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-family: sans-serif;
}
.text h4{
	font-size: 24px;
}
.text h1{
	font-size: 62px;
	font-weight: 700px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.text h3{
	font-size: 20px;
}
#btnone,#btntwo{
	background-color: transparent;
	color: white;
	border: none;
	font-size: 12px;
	font-family: sans-serif;
	text-transform: uppercase;
	line-height: 40px;
	width: 125px;
	font-weight: bold;
	margin-top: 25px;
	border: 3px solid white;
}

.rightmenu{
	width: 80%;
	line-height: 100px;
	float: right;
	/*background-color: blue;*/
}
.rightmenu nav a{
	font-family: sans-serif;
	display: inline-block;
	font-size: 15px;
	/*color: black;*/
	font-weight: bold;
	margin-left: 40px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}
.rightmenu nav{
	top: 100%;
	left: 100%;
	margin-left: 500px;
	color: white;
}
.rightmenu nav a:hover{
	color: grey;
}